.cardCenter {
    text-align: center;
    display: flex;
    margin: auto;
    flex: 0 0 !important;
    margin-bottom: 10px;
    margin-top: 10px;
}

.padding2 {
    margin-left: 15%;
    margin-right: 15%;
}
.formp {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.labels {
    padding-top: 1%;
}

.imargin {
    margin-left: 25%;
    margin-right: 25%;
}

