.padding2 {
    margin-left: 15%;
    margin-right: 15%;
}
.formp {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.labels {
    padding-top: 1%;
}

.imargin {
    margin-left: 25%;
    margin-right: 25%;
}

